[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6"


[packages]

brotli = "*"
cssmin = "*"
flask = "*"
flask-assets = "*"
gunicorn = "*"
htmlmin = "*"
libsass = "*"
python-decouple = "*"
pyyaml = "*"
whitenoise = "*"


[dev-packages]

nose = "*"
pyquery = "*"
rednose = "*"
