            {% if suggestions %}
            <div id="suggestions">
                <div class="content">
                    <h5>Other projects</h5>
                    <ul>
                        {% for project in suggestions %}
                        <li>
                            <a href="/{{ project['key'] }}">{{ img(project['cover'], project['title']) }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div><!-- end .content -->
            </div><!-- end li#suggestions -->
            {% endif %}
