    {% extends "_base.html" %}
{% block content %}

                <div id="project-header">
                    <header>
                        <div class="wide vertical-crop">
                            {{ img('projects-ares-cover.jpg', project['title']) }}
                        </div><!-- end .wide -->
                        <div class="info">
                            <div class="content">
                                <h2>
                                    Brastemp Ative!
                                    <span>A global washer & dryer machine project</span>
                                </h2>
                                <dl>
                                    <dt>My role</dt>
                                    <dd>Graphic Design, CFM, UI/UX Design</dd>
                                    <dt>Team</dt>
                                    <dd>Whirlpool - Industrial Design (Global)</dd>
                                    <dt>Awards</dt>
                                    <dd>IF Design</dd>
                                </dl>
                            </div><!-- end .project-content -->
                        </div><!-- end .info -->
                        <div class="summary">
                            <div class="content">
                                <div class="briefing">
                                    <h3>Brief</h3>
                                    <p>This product was a Whirlpool Global project which brought together the Brazilian, Asian and European Design teams. The main challenge was to combine the needs of consumers from different cultures in a single product platform.</p>
                                </div><!-- end .briefing -->
                                <div class="solution">
                                    <h3>Solution</h3>
                                    <p>Designed to be simple and elegant, with outstanding features, it was developed through constant assessments with consumers, such as usability tests, perceived quality and heuristic evaluations. The graphic design, the CFM and the UI behaviour were adapted according to the differences between countries.<p>
                                </div><!-- end .solution-->
                            </div><!-- end .project-content -->
                        </div><!-- end .summary -->
                    </header>
                </div><!-- end #project-header -->
                
                <div id="project-content">
                    <div class="wide">
                        {{ img('projects-ares-interface.jpg', 'Interface') }}
                    </div><!-- end .wide -->
                    <div class="content centered">
                        <article class="no-split">
                            <div class="row">
                                <div class="whole">
                                    <h3>Interface</h3>
                                    <p>A central white backlit knob with surrounding luminescence was embedded to an elegant and slim user interface. The emotional experience is enhanced by fading lights that follow the status of the washing and drying cycles. The dead-front display with touch sensors brings cutting-edge technologies to traditional white goods. The UI was projected to help even inexperienced users in choosing the better settings for their clothes.</p>
                                </div>
                            </div>
                        </article>
                    </div>                
                    <div class="wide">
                        {{ img('projects-ares-colours.jpg', 'Colours') }}
                    </div>         
                    <div class="content ares-cfm">
                        <div class="third">
                            <h3>Colours, Finishes and Materials</h3>
                            <p>In terms of colours, Brastemp Ative! offers 3 CMF options which easily blend into any home environment: Global White, Satin Chrome and All Black.</p>
                        </div>
                    </div>
                    <div class="wide ares-top">
                        {{ img('projects-ares-top.jpg', 'Top view') }}
                    </div>
                    <div class="wide">
                        {{ img('projects-ares-test.jpg', 'Usability test') }}
                    </div>
                </div><!-- end #project-content -->
                {% include '_suggestions.html' %}
{% endblock %}
