{% extends "_base.html" %}
{% block content %}

                <div id="project-header">
                    <header>
                        <div class="wide vertical-crop">
                            {{ img('projects-clubsoda-cover.jpg', project['title']) }}
                        </div><!-- end .wide -->
                        <div class="info">
                            <div class="content">
                                <h2>
                                    Club Soda
                                    <span>Social network to reduce or stop drinking</span>
                                </h2>
                                <dl>
                                    <dt>My role</dt>
                                    <dd>UX Design, Graphic Design</dd>
                                    <dt>Team partners</dt>
                                    <dd>Christine Phan, Philippe Campagne, Luis Klefsjo</dd>
                                    <dt>Duration</dt>
                                    <dd>2.5 weeks</dd>
                                </dl>
                            </div><!-- end .project-content -->
                        </div><!-- end .info -->
                        <div class="summary">
                            <div class="content">
                                <div class="briefing">
                                    <h3>Briefing</h3>
                                    <p>Club Soda is an online support group for people who want to change their relationship with alcohol.  Our final project of the UX Design course at General Assembly was to design an “expert and perks marketplace” for their current website, including a searchable database that enables members to find experts related to their goals. Currently, experts are listed on the website with a photo, a very short description, and an external link to the expert’s website.</p>
                                </div><!-- end .briefing -->
                                <div class="solution">
                                    <h3>Solution</h3>
                                    <p>We decided to expand upon the initial briefing and created elements to increase members’ and experts’ engagement – a social media approach where a delightful community and professional support goes hand in hand. Our deliverable consisted of a welcoming landing page for both experts and members, and a special type of account enabling experts to sign up and create their own profiles. As a result, experts are encouraged to upload and edit their own content (events, texts, videos).</p>
                                </div><!-- end .solution-->
                            </div><!-- end .project-content -->
                        </div><!-- end .summary -->
                    </header>
                </div><!-- end #project-header -->
                
                <div id="project-content">
                    <div class="wide">
                        <p>{{ img('projects-clubsoda-team.jpg', 'Team') }}</p>
                    </div><!-- end .wide -->
                    <div class="content">
                        <article>
                            <div class="row">
                                <div class="third">
                                    <div class="wide">
                                        {{ img('projects-clubsoda-competitors.jpg', 'Competitive Analysis') }}
                                    </div>
                                    <h4>Competitive Analysis</h4>
                                    <p>Many existing websites and apps that offer support to people wishing to stop drinking have a gloomy, clinical, and guilt-bearing approach. We broadened our research to cover social websites, which inspired us to encourage people to interact online.</p>
                                </div>
                                <div class="third">
                                    <div class="wide">
                                        {{ img('projects-clubsoda-research.jpg', 'User Research') }}
                                    </div>
                                    <h4>User Research</h4>
                                    <p>To help us understand the Club Soda target, first we created an online survey asking what people are looking for in a community when they decided on a big change in their lives. Next we conducted in-depth interviews with existing participants of the Club Soda community: 6 members; and 5 experts.</p>
                                </div>
                                <div class="third">
                                    <div class="wide">
                                        {{ img('projects-clubsoda-personas.jpg', 'Personas') }}
                                    </div>
                                    <h4>Personas</h4>
                                    <p>Analysing the data from the survey and interviews, we identified some patterns and created personas to make tangible our findings. Julia represents the members’ side and Angelo the experts’. Their needs, pain points, and habits drove our decisions.</p>
                                </div>
                            </div><!-- end .row -->
                            <div class="row">
                                <div class="third">
                                    <div class="wide">
                                        {{ img('projects-clubsoda-userjorney.jpg', 'User Journey') }}
                                    </div>
                                    <h4>User Journey</h4>
                                    <p class="pre-split">We mapped out Club Soda's current opportunities for interaction for members and experts in their first access to the site. The lower points are the worst experiences during their journeys. These graphics became our guideline for feature improvements.</p>
                                </div>
                                <div class="third">
                                    <div class="wide">
                                        {{ img('projects-clubsoda-studio.jpg', 'Design Studio') }}
                                    </div>
                                    <h4>Design Studio</h4>
                                    <p class="pre-split">In a workshop with the Club Soda founder, developers, members, and enthusiasts, we started the feature prioritization and drew the first sketches in a method where everybody participates in the design process.</p>
                                </div>
                                <div class="third">
                                    <div class="wide">
                                        {{ img('projects-clubsoda-testing.jpg', 'User testing') }}
                                    </div>
                                    <h4>User testing</h4>
                                    <p class="pre-split">From paper to high fidelity digital prototyping, 13 users tested our design, in 5 rounds of iterations based upon their feedback. After further iterations we proceeded to our deliverable prototype.</p>
                                </div>
                            </div><!-- end .row -->
                        </article>
                        <article class="no-split">
                            <h3>Outcomes</h3>
                            <p class="pre-split">As a start up company in an accelerator programme, Club Soda is using our prototypes to raise investment. The feedback from founders, experts, and members were very positive and Club Soda wish to implement the solution as soon as possible. If you would like to access the complete project, please click <a href="http://goo.gl/3CitGl">here</a>.</p>
                            <div class="half">
                                <h4>Registration</h4>
                                <p class="pre-split">To create an enjoyable experience from the beginning, we redesigned the signup process with fewer steps by integrating the experts’ registration, and setting keywords for interests, hobbies and other topics they would like more information on.</p>
                            </div>
                            <div class="half">
                                <h4>Experts and Perks</h4>
                                <p class="pre-split">List of available Experts and Perks with basic information on display. Showing possible Premium Member discounts. Upon clicking, the user will be taken to their specific profile page.</p>
                            </div>
                        </article>
                    </div><!-- end .content -->
                    <div class="wide">
                        {{ img('projects-clubsoda-deliver2.jpg', 'Regitration') }}
                    </div>
                    <div class="content">
                        <article class="no-split">
                            <div class="half">
                                <h4>Landing Page</h4>
                                <p class="pre-split">A complete new layout was suggested to centralize meaningful contents for each user. On the top of the page, an image carousel shows featured Club Soda campaigns.Then a display with appointments, goal and achievements creates a gamification approach, showing rewards for being part of the community. This page shows events, other members’ events, experts and contents related with the keywords you set.</p>
                            </div>
                            <div class="half">
                                <h4>Expert Page</h4>
                                <p class="pre-split">A set of new features was included to empower experts to participate actively in Club Soda’s community. The profile page gathers his description, testimonials, events, links and all the content he already created inside the platform.  He is able to edit this information anytime he wants; he can even upload videos, articles and create events.</p>
                            </div>
                        </article>
                        </div><!-- end .content -->
                    <div class="wide">
                        {{ img('projects-clubsoda-deliver1.jpg', 'Deliver') }}
                    </div>     
                </div><!-- end #project-content -->

                {% include '_suggestions.html' %}

{% endblock %}
