{% extends "_base.html" %}
{% block content %}

                <div id="project-header">
                    <header>
                        <div class="wide vertical-crop">
                            {{ img('projects-expedicao-cover.jpg', project['title']) }}
                        </div><!-- end .wide -->
                        <div class="info">
                            <div class="content">
                                <h2>
                                    Expedição Liberdade
                                    <span>Alternatives for education</span>
                                </h2>
                                <dl>
                                    <dt>My role</dt>
                                    <dd>Part of the crew</dd>
                                    <dt>Team partners</dt>
                                    <dd>Daniel Larusso and Eduardo Cuducos</dd>
                                    <dt>Backers</dt>
                                    <dd>110 people</dd>
                                </dl>
                            </div><!-- end .project-content -->
                        </div><!-- end .info -->
                    </header>
                </div><!-- end #project-header -->
                <div id="project-content">
                    <div class="content centered">
                        <article class="no-split">
                            <div class="row">
                                <div class="whole">
                                    <h3>Project</h3>
                                    <p class="pre-split">Expedição Liberdade (or Freedom Expedition) was a crowdfunded project to understand alternatives to the traditional educational model. Larusso, Cuducos and I visited nine of the most amazing schools and learning spaces in Europe. All content generated was shared through posts, infographics and seven open workshops in Brazil.</p>
                                </div>
                            </div>
                        </article>
                    </div>                
                    <div class="content">
                        <article class="no-split">
                            <div class="row">
                                <div class="third">
                                    <div class="wide">
                                        {{ img('projects-expedicao-ga.jpg', 'General Assembly') }}
                                    </div>
                                    <h4>General Assembly</h4>
                                    <p>The school emerges as a dynamic option through immersive courses (8-12 weeks) about technology, design and business. They have a strong and growing community: students who have common interests, skilled professionals instructors from a variety of industry backgrounds, and a networking spread in important cities.</p>
                                </div>
                                <div class="third">
                                    <div class="wide">
                                        {{ img('projects-expedicao-hi.jpg', 'Hyper Island') }}
                                    </div>
                                    <h4>Hyper Island</h4>
                                    <p>Jim Ralley, from Hyper Island Manchester told us about the school philosophy. They are guided by the market to structure their courses. The idea is to simulate the working environment, with experts and real projects. The students do not write articles, they make briefings and develop projects.</p>
                                </div>
                                <div class="third">
                                    <div class="wide">
                                        {{ img('projects-expedicao-kaos.jpg', 'Kaospilot') }}
                                    </div>
                                    <h4>Kaospilot</h4>
                                    <p>We visited the school in Aarhus and joined the Team 20 class. Kaospilot is a multi-sided education in leadership and entrepreneurship for a chaotic world. They centre on students’ potential to develop – tapping into their creativity, giving it a direction, creating a setting that will get them there and navigate the uncertainties that will follow.</p>
                                </div>
                            </div><!-- end .row -->
                            <div class="row">
                                <div class="third">
                                    <div class="wide">
                                        {{ img('projects-expedicao-trade.jpg', 'Trade School') }}
                                    </div>
                                    <h4>Trade School</h4>
                                    <p>They are an alternative, self-organized school where teachers propose classes and ask for barter items from students. In our case, we attended two classes: facilitating consensus, and remapping the city. We offered to photograph the workshop and other students brought snacks and drinks, each one helping in some way.</p>
                                </div>
                                <div class="third">
                                    <div class="wide">
                                        {{ img('projects-expedicao-schu.jpg', 'Schumacher College') }}
                                    </div>
                                    <h4>Schumacher College</h4>
                                    <p>The value of being part of Schumacher College is being part of the community, live in a light, warm and conscious environment. Waking up, meditate, eat, work and sleep is part of life in Schumacher.  Their approach to education is through the head, heart and hands, where the learning comes through everything done as part of a living and working community.</p>
                                </div>
                                <div class="third">
                                    <div class="wide">
                                        {{ img('projects-expedicao-tsol.jpg', 'The School of Life') }}
                                    </div>
                                    <h4>The School of Life</h4>
                                    <p>A place to think about central emotional concerns, common to individuals of all ages and classes.  The learning came from philosophy, literature, psychology and the visual arts. Who pass across The School of Life thinks it's just another small store located in a central area of London. In fact, that is a meeting point of many thinkers, seeking inspiration for a better life.</p>
                                </div>
                            </div><!-- end .row -->
                            <div class="row">
                                <div class="third">
                                    <div class="wide">
                                        {{ img('projects-expedicao-brockwood.jpg', 'Brockwood Park School') }}
                                    </div>
                                    <h4>Brockwood Park School</h4>
                                    <p class="pre-split">A school based on Krishnamurti’s philosophy. With around 70 students, aged 14 and over, it has the feeling of a large multi-cultural family rather than a boarding school. There is friendly atmosphere of responsibility, co-operation and affection, where everyone helps with the day-to-day decision-making and cares of the grounds and buildings.</p>
                                </div>
                                <div class="third">
                                    <div class="wide">
                                        {{ img('projects-expedicao-studio.jpg', 'Studio School') }}
                                    </div>
                                    <h4>Studio School</h4>
                                    <p class="pre-split">A project-based learning initiative designed for 14-19 year old students. They are small schools for 300 students, teaching through enterprise projects, more like a workplace than a school. The small classes allow teachers and students know each other better, making projects that meet the local community needs, but also the students interests and skills.</p>
                                </div>
                                <div class="third">
                                    <div class="wide">
                                        {{ img('projects-expedicao-team.jpg', 'Team Academy') }}
                                    </div>
                                    <h4>Team Academy</h4>
                                    <p class="pre-split">The idea is that people learn from the need to do something and the group practice makes the student mature both individually and as a human being. The entrepreneurs - as they refer students – create teams mixing different individual skills. Each team organizes a commercial business during the three years of university.</p>
                                </div>
                            </div><!-- end .row -->
                        </article>
                    </div><!-- end .content -->
                    <div class="wide">
                        {{ img('projects-expedicao-info.jpg', 'Infographics') }}
                    </div>    
                </div><!-- end #project-content -->

                {% include '_suggestions.html' %}

{% endblock %}
