{% extends "_base.html" %}
{% block content %}

                <div id="about">
                    <div class="wide vertical-crop">
                        <img src="{{ url_for('site.static', filename='imgs/cover.png') }}" alt="{{ name }}"> 
                    </div><!-- end .wide -->
                    <div class="content">
                        <article>
                            <h2>Hi, I'm Mabel Lazzarin</h2>
                            <p>I'm a designer passionate for creating products, services and interactive experiences through a human-centred approach. I previously worked in interdisciplinary and international teams at <a href="http://www.whirlpool.com.br/">Whirlpool</a> and <a href="http://www.intelbras.com.br/">Intelbras</a>, designing a variety of projects, such as home appliances, telephones, electronic security products and software.</p>
                            <p>I just complete the <a href="http://generalassemb.ly/education/user-experience-design-immersive">UX Design</a> immersive course at <a href="http://generalassemb.ly/">General Assembly</a> that offered me fresh ideas on best practices for the creative industry. Now I’m looking forward to finding an opportunity in London to combine my background skills and the new learnings to create intuitive and delightful user experiences.</p>
                        </article><!-- end #about -->
                    </div><!-- end .content -->
                    <div class="work-interests">
                        <div class="content">
                            <div>
                                <h2>Work interests</h2>
                                <ul>
                                    <li>
                                        {{ img('icon-ux.svg', 'Experience design') }}
                                        Experience<br>design
                                    </li>
                                    <li>
                                        {{ img('icon-graphic.svg', 'Graphic design') }}
                                        Graphic<br>design
                                    </li>
                                    <li>
                                        {{ img('icon-trend.svg', 'Trend research') }}
                                        Trend<br>research
                                    </li>
                                </ul>
                            </div>
                        </div><!-- end .content -->
                    </div><!-- end .work-interests -->
                </div><!-- end #about -->

                <div id="projects">
                    <div class=content>
                        <article>
                            <h2>Projects</h2>
                            <ul class="filter">
                                <li class="active" data-keywords="ux, graphic, trend">All</li>
                                <li data-keywords="ux">Experience<br>Design</li>
                                <li data-keywords="graphic">Graphic<br>Design</li>
                                <li data-keywords="trend">Trend<br>Research</li>
                            </ul>
                            <ul class="gallery">
                                {% for key in projects.order %}
                                <li class="{{ projects.all[key]['keywords']|join(' ') }}">
                                    <a href="/{{ key }}">
                                        <img alt="{{ projects.all[key]['title'] }}" src="{{ url_for('site.static', filename='imgs/{}'.format(projects.all[key]['cover'])) }}">
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </article>
                    </div><!-- end .content -->
                </div><!-- end #projects -->

                <div id="contacts">
                    <div class="content">
                        <article class="no-split">
                            <h2>Contacts</h2>
                            <p>If you are interested to know more about my work or just want to talk about user experience design in general, I'll be happy to hear from you. Feel free to get in touch:</p>
                        </article>
                    </div><!-- end .content -->
                </div><!-- end #contacts -->

{% endblock %}
