{% extends "_base.html" %}
{% block content %}

                <div id="project-header">
                    <header>
                        <div class="wide vertical-crop">
                            {{ img('projects-tc20-cover.jpg', project['title']) }}
                        </div><!-- end .wide -->
                        <div class="info">
                            <div class="content">
                                <h2>
                                    Intelbras TC 20
                                    <span>Colour as joyful detail</span>
                                </h2>
                                <dl>
                                    <dt>My role</dt>
                                    <dd>Graphic Design, CFM</dd>
                                    <dt>Team</dt>
                                    <dd>Mario Martuscello, Amanda Magalhães Schneider Franz,<br>Giovana Facione, Edmar Brusque</dd>
                                </dl>
                            </div><!-- end .project-content -->
                        </div><!-- end .info -->
                    </header>
                </div><!-- end #project-header -->
                <div id="project-content">
                    <div class="content centered">
                        <article class="no-split">
                            <div class="row">
                                <div class="whole">
                                    <h3>Project</h3>
                                    <p class="pre-split">The main challenges of the TC 20 project were: to be an inexpensive phone with colour variations and to substitute a successful product in terms of sales volume – but which offered low profit to the company. The solution was a compact phone that offers all the functions on its handset.</p>
                                    <p>The Intelbras logo was applied in relief, becoming a discrete detail. Its keys have simple graphics and good readability. The keyboard also has back lighting to help users in dark environments.</p>
                                    <p>The colour palette is based on a trend research which was focused on the fashion and decoration industry. The option to apply the colours only in one part of the product made the production easier, reducing the variety of parts in the factory. Besides it this solution brought the colour as a joyful detail to home decor.</p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>               
                 <div class="wide">
                    {{ img('projects-tc20-products.jpg', 'Products') }}
                </div><!-- end .wide -->
        {% include '_suggestions.html' %}
{% endblock %}
