{% extends "_base.html" %}
{% block content %}

                <div id="project-header">
                    <header>
                        <div class="wide vertical-crop">
                            {{ img('projects-trend-cover.jpg', project['title']) }}
                        </div><!-- end .wide -->
                        <div class="info">
                            <div class="content">
                                <h2>
                                    Trend Report
                                    <span>Designing future scenarios</span>
                                </h2>
                                <dl>
                                    <dt>My role</dt>
                                    <dd>Founder, trend researcher and workshop facilitator</dd>
                                    <dt>Participants</dt>
                                    <dd>Over 250 people</dd>
                                    <dt>Editions</dt>
                                    <dd>11 workshops hosted in 7 different cities.</dd>
                                </dl>
                            </div><!-- end .project-content -->
                        </div><!-- end .info -->
                    </header>
                </div><!-- end #project-header -->
                
                <div id="project-content">
                    <div class="content centered">
                        <article class="no-split">
                            <div class="row">
                                <h3>Project</h3>
                                <p class="pre-split">A series of workshops on Trend Report design and execution. This activity shared examples of exploratory research showing how emerging trends can influence particular audiences and brands. The analysis of the research material allowed the audience to design future scenarios as well as innovative products and services. The workshops took place in different Brazilian cities during 2014.</p>
                            </div>
                        </article>
                    </div>                
                    <div class="wide">
                        <p>{{ img('projects-trend-slides.jpg', 'Trends') }}</p>
                    </div><!-- end .wide -->
                    <div class="content">
                        <article class="no-split"> 
                            <div class="row">
                                <div class="third">
                                    <h4>Trend concepts</h4>
                                    <p>A pinch of theory to introduce the subject, bringing some references to explain the main concepts and common terms.</p>
                                </div>
                                <div class="third">
                                    <h4>Research sources</h4>
                                    <p>A conversation about some of the most influential trend research centers and about the importance of leaving the office to discover and feel emerging trends.</p>
                                </div>
                                <div class="third">
                                    <h4>Narrative and scenarios</h4>
                                    <p class="pre-split">Time to organize the information, name movements and find arguments to strengthen the trend scope.</p>
                                </div>
                            </div><!-- end .row -->
                            <div class="row">
                                <div class="third">
                                    <h4>Observing people</h4>
                                    <p>More important than market analysis, to research people and their behavior is at the core of the activity. Even without delving too much into it, it’s possible to feel the difference when creating products and experiences.</p>
                                </div>
                                <div class="third">
                                    <h4>Creating a Trend Report</h4>
                                    <p class="pre-split">Here we check real Trend Reports structures: from the simplest, which can be used as a resource for daily creation, to the most complex, which are themselves the final delivery.</p>
                                </div>
                                <div class="third">
                                    <h4>Hands-on</h4>
                                    <p class="pre-split">To test the new learnings, an exercise to analyse dozens of emerging trends and how they could lead future scenarios. The results were innovative solutions to improve real problems for each city that was hosting the workshop.</p>
                                </div>
                            </div><!-- end .row -->
                        </article>
                    </div><!-- end .content -->
                    <div class="wide">
                        {{ img('projects-trend-workshop.jpg', 'Workshops') }}
                    </div>     
                </div><!-- end #project-content -->

                {% include '_suggestions.html' %}

{% endblock %}
