{% extends "_base.html" %}
{% block content %}

                <div id="project_header">
                    <div class="wide">
                        <img src="" alt="Twitch – The next Level">
                    </div><!-- end .wide -->
                    <div class="content">
                        <article>
                            <h2>Contacts</h2>
                            <p>I am always interested in hearing from anybody who has suggestions for projects or just want to talk about user experience design in general. Feel free to get in touch and we can grab a coffee.</p>
                        </article>
                    </div><!-- end .content -->
                </div><!-- end #contacts -->

{% endblock %}
