{% extends "_base.html" %}
{% block content %}

                <div id="project-header">
                    <header>
                        <div class="wide vertical-crop">
                            {{ img('projects-twitch-cover.png', project['title']) }}
                        </div><!-- end .wide -->
                        <div class="info">
                            <div class="content">
                                <h2>
                                    Twitch – The Next Level
                                    <span>Let users view and upload walkthroughs</span>
                                </h2>
                                <dl>
                                    <dt>My role</dt>
                                    <dd>UX Designer, Team Leader</dd>
                                    <dt>Team partners</dt>
                                    <dd>Paul Imes, Sunil Pithwa</dd>
                                    <dt>Duration</dt>
                                    <dd>2 weeks</dd>
                                </dl>
                            </div><!-- end .project-content -->
                        </div><!-- end .info -->
                        <div class="summary">
                            <div class="content">
                                <div class="briefing">
                                    <h3>Briefing</h3>
                                    <p>Twitch is a live streaming video platform focused on gaming. Part of UX Design course at General Assembly, our briefing was introducing an easy way to upload video game walk- throughs to Twitch website.</p>
                                </div><!-- end .briefing -->
                                <div class="solution">
                                    <h3>Solution</h3>
                                    <p>Create an upload process independent of external servers, allowing players to tag specific parts of the video and relate them with written walkthroughs level by level. These improvements could help other users to find what they are looking for, with no spoilers.</p>
                                </div><!-- end .solution-->
                            </div><!-- end .project-content -->
                        </div><!-- end .summary -->
                    </header>
                </div><!-- end #project-header -->
                
                <div id="project-content">
                    <div class="wide">
                        {{ img('projects-twitch-team.png', 'Team') }}
                    </div><!-- end .wide -->
                    <div class="content">
                        <article>
                            <h3>Process</h3>
                            <div class="row">
                                <div class="two-thirds twitch-stats">
                                    <p>In order to understand more about gaming behaviour, we started our re- search with a survey sent out via social media and specialized forums. Some key findings we set in the first 3 days:</p>
                                    <div><span>23%</span>Searched<br>for game help</div>
                                    <div><span>23%</span>Used<br>walkthroughs</div>
                                    <div><span>23%</span>Searched<br>walkthroughs on You tube</div>
                                </div>
                                <div class="third twitch-chart">
                                    {{ img('projects-twitch-survey.svg', 'Survey results') }}
                                </div>
                            </div><!-- end .row -->
                            <div class="row">
                                <div class="third">
                                    <div class="wide">
                                        {{ img('projects-twitch-interview.png', 'Interviews') }}
                                    </div>
                                    <h4>Interviews</h4>
                                    <p>We did a total of 10 interviews, with gamers living in the UK, US, Brazil and Sweden. Part of them were survey con- tacts, other part were people we met in Meltdown (London gaming bar) and finally personal contacts.</p>
                                </div>
                                <div class="third">
                                    <div class="wide">
                                        {{ img('projects-twitch-personas.png', 'Personas') }}
                                    </div>
                                    <h4>Personas</h4>
                                    <p>Based on the findings from our user research, we created 3 personas with different needs. Our primary persona was Jason. He is a Twitch heavy user and makes extra money through donations from players who appreciate watching him skillfully play.</p>
                                </div>
                                <div class="third">
                                    <div class="wide">
                                        {{ img('projects-twitch-userflow.png', 'Userflow') }}
                                    </div>
                                    <h4>Userflow</h4>
                                    <p>To help us to focus in creating the best experience for users, we start to think what interactions and decisions are necessary to complete a task. Using Jason as example, we listed what steps he needs to complete to upload a game walkthrough.</p>
                                </div>
                            </div><!-- end .row -->
                            <div class="row">
                                <div class="third">
                                    <div class="wide">
                                        {{ img('projects-twitch-sketch.png', 'Sketches') }}
                                    </div>
                                    <h4>Sketches</h4>
                                    <p>Through a method called Design Studio we started to sketch proposals for the main screens identified during the user- flows. Next we discussed the best ideas we could test, as page elements, struc- ture and interactions.</p>
                                </div>
                                <div class="third">
                                    <div class="wide">
                                        {{ img('projects-twitch-wireframe.png', 'Wireframes') }}
                                    </div>
                                    <h4>Wireframes</h4>
                                    <p>Creating wireframes is an effective way to verify the practicality of a design concept with rapid prototypes. Four versions of each screen were tested and iterated based on users’ feedbacks to fit for the intended purpose.</p>
                                </div>
                                <div class="third">
                                    <div class="wide">
                                        {{ img('projects-twitch-testing.png', 'User testing') }}
                                    </div>
                                    <h4>User testing</h4>
                                    <p class="pre-split">Our key findinds from user tests were combining videos and written walk- throughs in the same page and making the upload process as simple as YouTube, allowing even eventual players share their game discovers.</p>
                                </div>
                            </div><!-- end .row -->
                        </article>
                        <article class="no-split">
                            <h3>Deliver</h3>
                            <div class="half">
                                <p>We created a solution that could easily be integrated on actual Twitch website, but with significant changes in the usability experience, as the introduction of predictive searching, filtering options, reviews and ratings.<br>
The entirely new feature was to create and view video game walkthroughs. Considering producers’ perspective we included an upload button available on any page on Twitch. A step by step process guides gamers to drag and drop videos, add written walkthroughs and to sync the video with specific levels or challenges.</p>
                            </div>
                            <div class="half">
                                <p>For viewers’ we keep the same features that Twitch already has, adding walkthroughs section to the same known layout. On walkthrough page the users can see both video and text together on one screen. On the video itself we have given a wider view as well as a thumbnail when scrolling through, markers are set on the timeline to indicate a link back to the text and a section indicator. Scrolling down we get the text navigator. In this section we can see the outline form of the walkthrough, textual based walking through every level and section of the game.</p>
                            </div>
                        </article>
                    </div><!-- end .content -->
                    <div class="wide">
                        {{ img('projects-twitch-deliver.png', 'Deliver') }}
                    </div>
                </div><!-- end #project-content -->

                {% include '_suggestions.html' %}

{% endblock %}
