// import framework
@import "bourbon";
@import "neat";

// breakpoints
$mobile: new-breakpoint(max-width 767px);
$tablet: new-breakpoint(min-width 768px); 
$desktop: new-breakpoint(min-width 960px); 
$wide: new-breakpoint(min-width 1800px); 

// import app settings
@import "fonts";
@import "colors";
@import "mixins";

// import app styles
@import "tags";
@import "classes";
@import "ids";
@import "animations";
