#about {
  .work-interests { display: none }
  @include media($tablet) {
    p {
      @include span-columns(8);
      @include shift(2);
      @include omega();
      text-align: center;
    }
    article {
      @include clearfix;
      border-bottom: 0;
    }
    .work-interests {
      background-size: cover;
      background: transparent url(/static/imgs/work-interests.png) no-repeat center center;
      color: $background-color;
      display: block;
      padding: 3em 0;
      text-align: center;
      h2 {
        color: $background-color;
        text-transform: lowercase;
      }
      ul {
        @include outer-container;
        margin: 0;
        padding: 0;
      }
      li {
        @include span-columns(4);
        font-size: 1em;
        font: $subtitle-font;
        text-transform: uppercase;
      }
      img {
        display: block;
        margin: 0 auto;
        width: 38.2%;
      }
    }
  }
}

#projects {
  .filter {
    margin-bottom: 1em;
    padding: 0;
    text-align: center;
    li {
      display: inline-block;
      list-style-type: none;
      border: .1em solid transparent;
      color: $disabled-color;
      cursor: pointer;
      font-size: .75em;
      font-weight: $normal-weight;
      margin-right: .3em;
      padding: .2em .5em;
      text-transform: uppercase;
      vertical-align: middle;
      &:last-child { margin-right: 0 }
      &:hover { color: $highlight-color }
      &.active {
        border-color: $highlight-color;
        color: $highlight-color;
      }
    }
    @include media($tablet, $desktop) {
      margin-bottom: 1.618em;
      li {
        border-width: .05em;
        font-size: 1em;
        font-weight: $light-weight;
        margin-right: 1.618em;
        &:first-child { padding: .7em .7em }
      }
    }
  }
  .gallery {
    @include transition(height 333ms);
    @include outer-container;
    overflow: hidden;
    padding: 0;
    li {
      margin-bottom: 1em;
      @include media($mobile) {
        @include span-columns(6);
        &:nth-child(even) { margin-right: 0 }
        &:nth-child(odd) { clear: left }
      }
      @include media($tablet, $desktop) {
        @include span-columns(3);
        &:nth-child(4n) { margin-right: 0 }
        &:nth-child(5n) { clear: left }
      }
    }
  }
}

#contacts {
  @include media($desktop) {
    article {
      @include span-columns(8);
      @include shift(2);
      margin-bottom: 0;
      padding-bottom: 0;
      text-align: center;
    }
  }
}
