.project {
  h2, h3, h5 {
    color: $title-color;
    font: $title-font;
    font-size: 1.618em;
    margin-bottom: 0;
    text-align: left;
  }
  p {
    &:last-child { margin-bottom: 2.617em }
    &.pre-split:last-child { margin-bottom: .5em }
  }
}
#project-header {
  h2 {
    margin-top: 0;
    span {
      display: block;
      font: $subtitle-font;
      font-size: .618em;
      font-style: italic;
    }
  }
  dl {
    @include clearfix;
    font-size: .8em;
    margin: 0;
    padding: 1em 0;
    @include media($tablet) { padding: .2em 0 }
  }
  dt, dd {
    float: left;
    margin: 0;
    padding: 0;
  }
  dt {
    clear: left;
    color: $title-color;
    margin-right: .2em;
    &:after { content: ':' }
  }
  .info {
    padding: 1em 0;
    background-color: $footer-background-color;
    @include media($tablet) { padding: 1em 0 1.618em 0 }
  }
  .wide {
    background-color: $footer-background-color;
  }
  @include media($tablet) {
    h2, dl, .briefing, .solution { @include span-columns(6) }
  }
}

#project-content {
  h4 {
    color: $subtitle-color;
    font: $subtitle-font;
    font-size: 1.618em;
    margin: .618em 0 0 0;
  }
  .content {
    .wide {
      background-size: cover;
      box-sizing: content-box; 
      left: -16px;
      padding: 0 16px;
      position: relative;
      img { visibility: hidden }
      @include media($tablet) {
        box-sizing: border-box;
        left: 0;
        padding: 0;
        position: static;
      }
    }
  }
  @include media($tablet) {
    .row { @include clearfix }
    .whole { @include span-columns(12) }
    .three-quarters { @include span-columns(9) }
    .two-thirds { @include span-columns(8) }
    .half { @include span-columns(6) }
    .third { @include span-columns(4) }
    .quarter { @include span-columns(3) }
    .centered {
      @include span-columns(10);
      @include shift(1);
    }
  }
}

#suggestions {
  @include transform(translateY(-.2em));
  background-color: $footer-background-color;
  padding: 1em 0;
  h5 {
    margin: 0;
    text-align: center;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    @include span-columns(4);
    @include media($tablet) { @include span-columns(2) }
    margin-top: .618em;
    &:nth-of-type(4n), &:nth-of-type(5n), &:nth-of-type(6n) { display: none }
    @include media($tablet) { &:nth-of-type(4n), &:nth-of-type(5n), &:nth-of-type(6n) { display: block } }
  }
}
