// twitch
#project-content {
  .twitch-stats {
    @include clearfix;
    span {
      color: $title-color;
      display: block;
      font-size: 2.617em;
      font-weight: $bold-weight;
    }
    div {
      float: left;
      font-size: .8em;
      margin: 1em 0;
      text-align: center;
      width: 33%;
    }
  }
  .twitch-chart {
    margin-bottom: 1em;
    img {
      display: block;
      margin: 0 auto;
      width: 75%;
      @include media ($tablet) { width: 100% } 
    }
  }
}
