// colro definitions

$blue: #5ac6d3;
$purple: #4a2a71;

$black: #000;
$light-gray: #f2f2f2;
$dark-gray: #58595b;
$white: #fff;

$white-transparent-ish: rgba(255, 255, 255, 0.7);
$white-opaque-ish: rgba(255, 255, 255, 0.9);

// semantic colors

$background-color: $white;
$footer-background-color: $light-gray;
$menu-background-color: $white-opaque-ish;
$burger-background-color: $white-transparent-ish;

$text-color: $dark-gray;
$title-color: $purple;
$subtitle-color: $blue;

$highlight-color: $blue;
$disabled-color: $dark-gray;

$split-color: $light-gray;
