.menu {
  ul { display: none }
}

.menu-mobile {
  background-color: $menu-background-color;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  ul {
    @include transform(translateY(-50%));
    margin: 0;
    padding: 0;
    position: relative;
    top: 50%;
  }
  li {
    font: $title-font;
    list-style-type: none;
    margin-bottom: 1em;
    text-align: center;
    width: 100%;
    &:last-child { margin-bottom: 0 }
  }
  a {
    color: $title-color;
    text-decoration: none;
  }
}

.content {
  @include outer-container;
  @include pad(0 16px);
}

$tablet: new-breakpoint(min-width 768px 4);

.wide {
  overflow: hidden;
  width: 100%;
  &.horizontal-crop {
    max-height: 12em;
    img {
      @include transform(translateY(-50%));
      margin-top: 50%;
    }
  }
  &.vertical-crop {
    img {
      @include transform(translateX(-50%));
      margin-left: 50%;
      max-height: 12em;
      width: auto;
      @include media($tablet) {
        max-height: 24em;
      }
    }
  }
}

.work-interests {
  display: none;
}
