$font-family: 'Lato', sans-serif;
$base-size: .9em;

$bold-weight: 700;
$light-weight: 300;
$normal-weight: 400;

$text-font: normal $light-weight $base-size $font-family;
$title-font: italic $bold-weight ($base-size * 1.5) $font-family;
$subtilte-font: normal $light-weight ($base-size * 1.5) $font-family;
